.section-one{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
   

  

    .table{
        width: 100%;
        height: 60.83px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid burlywood;
        border-left: 1px solid burlywood;
        border-right: 1px solid burlywood;

        @media (max-width:500px) {
            width: 35rem;
            padding: 0.2rem;
        }
        h3{
           min-width: 14%;
           min-height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.2rem;
          
          
          
           

            input{
                max-width: 60%;
                padding: 0.5rem;
                border-radius: 7px;
                font-size: 120%;
                border: 1.6px solid burlywood;
                @media (max-width:850px) {
                    max-width: 80%;
                    padding: 0.2rem 0.6rem;
                }
                @media (max-width:550px) {
                    max-width: 100%;
                    padding: 0.45rem;
                   
                   
                }
            }

            .blue-light{
                width: 20px;
                height: 20px;
                background-color: skyblue;
                border-radius: 50%;
            }
            .yellow-light{
                width: 20px;
                height: 20px;
                background-color: yellow;
                border-radius: 50%;
            }
            .red-light{
                width: 20px;
                height: 20px;
                background-color: red;
                border-radius: 50%;
            }
            
            
        }

        .empty-1{
            width: 10%;
        }
        .empty-2{
            width: 14.9%;
        }
        .empty-3{
            width: 14.9%;
        }
        .total-amount-figure{
            width: 14%;
        }
        
    }
    

   

    .table-2{
        width: 100%;
        min-height: 6vh;
        display: flex;
        align-items: center;
        color: brown;
        justify-content: center;
        font-family: "Baskervville SC", serif;
        font-weight: 500;
        font-style: normal;
        font-size: x-large;
        @media (max-width:418px) {
            font-size: larger;
        }
        @media (max-width:346px) {
            font-size: large;
        }
        @media (max-width:323px) {
            font-size: medium;
        }
        @media (max-width:287px) {
            font-size: 80%;
            padding: 0 1rem;
        }
        
    }

    .table-3{
        width: 100%;
        min-height: 6vh;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
        font-size: large;
        gap: 2rem;
        z-index: 5;
        padding: 0.5rem;
       
        @media (max-width:446px) {
            justify-content: flex-start;
            padding-left: 1rem;
            gap: 1rem;
        }

        .locations{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: large;
            gap: 2rem;
            @media (max-width:446px) {
                flex-direction: column;
                gap: 0.5rem;
            }
        }
    }
    .table-4{
        width: 100%;
        min-height: 5vh;
        display: flex;
        padding: 0 1rem;
        margin-top: 200px;
        align-items: center;
        justify-content: flex-start;
        @media (max-width:1115px) {
            margin-top: 190px;
        }
        @media (max-width:700px) {
            margin-top: 180px;
        }
        @media (max-width:500px) {
            margin-top: 170px;
           
        }
        @media (max-width:446px) {
            margin-top: 220px;
           
        }
       

    }

    

    .table-5{
        width: 100%;
        height: 60.83px;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-top: 1px solid burlywood;
        border-right: 1px solid burlywood;
        border-top-left-radius: 5px;
        border-left: 1px solid burlywood;
        border-top-right-radius: 5px;
        @media (max-width:500px) {
            width: 35rem;
            padding: 0.2rem;
        }

        h3{
            min-width: 14%;
            min-height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.5rem;
            @media (max-width:1115px) {
                width: 10%;
            }
           
            

           
            
            
        }
        .qty-begin{
            min-width: 14.9%;
            
        }
        .qty-end{
            min-width: 14.9%;
        }

        

        
        
    }

    .main-category-container{
        max-width: 84.5rem;
        min-height: 100vh;
        position: relative;
        @media (max-width:700px) {
            min-height: 70vh;
        }
        @media (max-width:500px) {
            min-height: 100vh;
        }
        @media (max-width:400px) {
            min-height: 100vh;
        }
        
        

    }
    .after-bread-title{
        max-width: 100%;
        min-height: 100%;
        display: flex;
        padding-left: 0.5rem;
        padding: 0.5rem;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
        @media (max-width:500px) {
            width:70rem;
            position: absolute;
             top: 0;
             bottom: 0;
             right: 0;
             left: 0;
             overflow: hidden;
             overflow-x: scroll;
             
            //  overflow-y: scroll;
        }

       
      
        
        
        #bottom-total-table{
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom: 1px solid burlywood ;

        }
      
    }

    .footer{
        width: 100%;
        min-height: 10vh;
        background-color: black;
        display: flex;
        color: white;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        flex-direction: column;
        gap: 0.5rem;

        .footer-one{
            width: 100%;
            min-height: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer-two{
            width: 100%;
            min-height: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
           
        }

    }
}