* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-one {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  position: relative;
}
.section-one .table {
  width: 100%;
  height: 60.83px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid burlywood;
  border-left: 1px solid burlywood;
  border-right: 1px solid burlywood;
}
@media (max-width: 500px) {
  .section-one .table {
    width: 35rem;
    padding: 0.2rem;
  }
}
.section-one .table h3 {
  min-width: 14%;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.2rem;
}
.section-one .table h3 input {
  max-width: 60%;
  padding: 0.5rem;
  border-radius: 7px;
  font-size: 120%;
  border: 1.6px solid burlywood;
}
@media (max-width: 850px) {
  .section-one .table h3 input {
    max-width: 80%;
    padding: 0.2rem 0.6rem;
  }
}
@media (max-width: 550px) {
  .section-one .table h3 input {
    max-width: 100%;
    padding: 0.45rem;
  }
}
.section-one .table h3 .blue-light {
  width: 20px;
  height: 20px;
  background-color: skyblue;
  border-radius: 50%;
}
.section-one .table h3 .yellow-light {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
}
.section-one .table h3 .red-light {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.section-one .table .empty-1 {
  width: 10%;
}
.section-one .table .empty-2 {
  width: 14.9%;
}
.section-one .table .empty-3 {
  width: 14.9%;
}
.section-one .table .total-amount-figure {
  width: 14%;
}
.section-one .table-2 {
  width: 100%;
  min-height: 6vh;
  display: flex;
  align-items: center;
  color: brown;
  justify-content: center;
  font-family: "Baskervville SC", serif;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
}
@media (max-width: 418px) {
  .section-one .table-2 {
    font-size: larger;
  }
}
@media (max-width: 346px) {
  .section-one .table-2 {
    font-size: large;
  }
}
@media (max-width: 323px) {
  .section-one .table-2 {
    font-size: medium;
  }
}
@media (max-width: 287px) {
  .section-one .table-2 {
    font-size: 80%;
    padding: 0 1rem;
  }
}
.section-one .table-3 {
  width: 100%;
  min-height: 6vh;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  font-size: large;
  gap: 2rem;
  z-index: 5;
  padding: 0.5rem;
}
@media (max-width: 446px) {
  .section-one .table-3 {
    justify-content: flex-start;
    padding-left: 1rem;
    gap: 1rem;
  }
}
.section-one .table-3 .locations {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  gap: 2rem;
}
@media (max-width: 446px) {
  .section-one .table-3 .locations {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.section-one .table-4 {
  width: 100%;
  min-height: 5vh;
  display: flex;
  padding: 0 1rem;
  margin-top: 200px;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1115px) {
  .section-one .table-4 {
    margin-top: 190px;
  }
}
@media (max-width: 700px) {
  .section-one .table-4 {
    margin-top: 180px;
  }
}
@media (max-width: 500px) {
  .section-one .table-4 {
    margin-top: 170px;
  }
}
@media (max-width: 446px) {
  .section-one .table-4 {
    margin-top: 220px;
  }
}
.section-one .table-5 {
  width: 100%;
  height: 60.83px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-top: 1px solid burlywood;
  border-right: 1px solid burlywood;
  border-top-left-radius: 5px;
  border-left: 1px solid burlywood;
  border-top-right-radius: 5px;
}
@media (max-width: 500px) {
  .section-one .table-5 {
    width: 35rem;
    padding: 0.2rem;
  }
}
.section-one .table-5 h3 {
  min-width: 14%;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
}
@media (max-width: 1115px) {
  .section-one .table-5 h3 {
    width: 10%;
  }
}
.section-one .table-5 .qty-begin {
  min-width: 14.9%;
}
.section-one .table-5 .qty-end {
  min-width: 14.9%;
}
.section-one .main-category-container {
  max-width: 84.5rem;
  min-height: 100vh;
  position: relative;
}
@media (max-width: 700px) {
  .section-one .main-category-container {
    min-height: 70vh;
  }
}
@media (max-width: 500px) {
  .section-one .main-category-container {
    min-height: 100vh;
  }
}
@media (max-width: 400px) {
  .section-one .main-category-container {
    min-height: 100vh;
  }
}
.section-one .after-bread-title {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  padding-left: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 500px) {
  .section-one .after-bread-title {
    width: 70rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-x: scroll;
  }
}
.section-one .after-bread-title #bottom-total-table {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid burlywood;
}
.section-one .footer {
  width: 100%;
  min-height: 10vh;
  background-color: black;
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  flex-direction: column;
  gap: 0.5rem;
}
.section-one .footer .footer-one {
  width: 100%;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-one .footer .footer-two {
  width: 100%;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
@media (max-width: 900px) {
  html {
    font-size: 95%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 85%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 83%;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 80%;
  }
}

header {
  width: 100%;
  min-height: 20vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  background-color: white;
  z-index: 4;
}
header .table-1 {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .table-1 .logo {
  min-width: 7rem;
  height: 5.7rem;
  background-color: green;
}
header .table-1 .logo img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */